- name: Build image
  run: docker build -t ${{ env.ACR_LOGIN_SERVER }}/myapp:${{ github.sha }} .

- name: Push image
  run: |
    az acr login --name ${{ env.ACR_NAME }}
    docker push ${{ env.ACR_LOGIN_SERVER }}/myapp:${{ github.sha }}

- name: Deploy to Container Apps
  run: |
    az containerapp update \
      --name myapp \
      --resource-group my-rg \
      --image ${{ env.ACR_LOGIN_SERVER }}/myapp:${{ github.sha }}
