name: Build and Test .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore DemoActions/DemoApp/DemoApp.csproj

      - name: Build DemoActions/DemoApp/DemoApp.csproj
        run: dotnet build --configuration Release --no-restore

      - name: Run tests DemoActions/DemoApp/DemoApp.csproj
        run: dotnet test --no-build --verbosity normal